* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Bebas Neue Book";
  src: url("BebasNeueBook.eot");
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.header {
  min-height: 100vh;
}

.header-image {
  background-image: url("../img/main_img.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.header-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(41, 45, 51, 0.6);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.navbar {
  display: flex;
  align-items: center;
  color: white;
  height: 94px;
  position: relative;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
}

.header-logo {
  padding: 25px 50px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.header-nav {
  display: flex;
  flex-basis: 100%;
  list-style: none;
  padding: 0 40px;
  margin: 0;
  justify-content: space-between;
}

.header-nav-link {
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}

.header-phone {
  flex-shrink: 0;
  display: flex;
  gap: 10px;
  margin-right: 50px;
}

.header-phone-link {
  text-decoration: none;
  color: inherit;
}

.button {
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  color: white;
  padding: 25px 25px;
  background: rgba(92, 142, 230, 1);
  border: none;
  cursor: pointer;
}

.navbar-button {
  flex-shrink: 0;
  height: 100%;
}

.separator {
  width: 150px;
  height: 2px;
  background: rgba(92, 142, 230, 1);
}

.header-title {
  color: rgba(255, 255, 255, 1);
  font-size: 80px;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
}

.header-content {
  padding-top: 150px;
  position: relative;
  z-index: 1;
  color: #fff;
}

.header-title {
  max-width: 1000px;
  font-family: "Bebas Neue Book";
  font-size: 80px;
  font-weight: 400;
  line-height: 120%;
  margin: 30px 0;
}

.header-text {
  max-width: 720px;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 50px;
}

.header-features {
  display: flex;
  min-height: 168px;
  padding: 0;
  margin-top: 100px;
  list-style: none;
  color: #fff;
  position: relative;
}

.header-features-item {
  padding: 30px 50px;
  border: 1px solid rgba(235, 235, 240, 0.2);
}

.header-features-item:not(:last-child) {
  border-right: none;
}

.header-features-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.section {
  margin-top: 150px;
  margin-bottom: 150px;
}
.section-title {
  font-family: "Bebas Neue Book";
  font-size: 28px;
  font-weight: 400;
  line-height: 160%;
}

.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 30px;
}

.steps-item {
  max-width: 330px;
}

.steps-num {
  font-family: "Bebas Neue Book";
  font-size: 48px;
  line-height: 120%;
  color: rgb(92, 142, 230);
  display: flex;
  align-items: center;
}

.steps-num::after {
  content: "";
  height: 1px;
  width: 100%;
  background: rgb(235, 235, 240);
  margin-left: 30px;
}

.steps-title {
  color: rgb(41, 45, 51);
  font-family: Noto Sans;
  font-size: 28px;
  font-weight: 400;
  line-height: 160%;
  margin-top: 30px;
  margin-bottom: 10px;
}
.steps-text {
  color: rgb(130, 138, 153);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.steps-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(92, 142, 230);
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
}

.steps-link::before {
  content: "";
  height: 1px;
  width: 40px;
  background: rgb(92, 142, 230);
  margin-right: 20px;
}
