* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: rgb(126, 126, 126);
  color: white;
  height: 94px;
}

.header-logo {
  margin-left: 50px;
  margin-right: 50px;
}

.header-nav {
  display: flex;
  flex-basis: 100%;
  list-style: none;
  padding: 0 40px;
  margin: 0;
  justify-content: space-between;
}

.header-nav-link {
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}

.header-phone {
  flex-shrink: 0;
  display: flex;
  gap: 10px;
  margin-right: 50px;
}

.header-phone-link {
  text-decoration: none;
  color: inherit;
}

.button {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  color: white;
  /* gap: 10px; */
  padding: 25px 25px;
  background: rgba(92, 142, 230, 1);
  border: none;
  flex-shrink: 0;
}

.header-button {
  height: 100%;
  cursor: pointer;
}
