* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Bebas Neue Book";
  src: url("BebasNeueBook.eot");
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 1920px;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.header {
  min-height: 100vh;
  padding-top: 94px;
}

.header-image {
  background-image: url("../img/main_img.png");
  background-position: center bottom -18px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.header-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(41, 45, 51, 0.6);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.navbar {
  display: flex;
  align-items: center;
  color: white;
  height: 94px;
  position: fixed;
  left: 0;
  top: 0;
  width: 1920px;
  z-index: 2;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s;
}

.navbar-light {
  background-color: #fff;
  color: rgb(41, 45, 51);
  height: 74px;
}

.navbar-light .header-logo-path {
  fill: rgb(41, 45, 51);
}

.navbar-logo {
  display: flex;
  align-items: center;
  padding: 0 50px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.header-nav {
  display: flex;
  flex-basis: 100%;
  list-style: none;
  padding: 0 40px;
  margin: 0 15px;
  letter-spacing: 0.2px;
}

.header-nav-link {
  text-decoration: none;
  font-size: 16px;
  color: inherit;
  margin-right: 50px;
}

.header-phone {
  flex-shrink: 0;
  display: flex;
  gap: 10px;
  margin-right: 50px;
}

.header-phone-link {
  text-decoration: none;
  color: inherit;
}

.button {
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  color: white;
  padding: 25px 65px;
  background: rgba(92, 142, 230, 1);
  border: none;
  cursor: pointer;
}

.navbar-button {
  padding: 25px 53px;
  flex-shrink: 0;
  height: 100%;
}

.separator {
  width: 150px;
  height: 2px;
  background: rgba(92, 142, 230, 1);
}

.header-content {
  padding-top: 150px;
  position: relative;
  z-index: 1;
  color: #fff;
}

.header-title {
  max-width: 1080px;
  color: #fff;
  font-family: "Bebas Neue Book";
  font-size: 80px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.7px;
  margin: 21px 0;
}

.header-text {
  max-width: 720px;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin-top: 41px;
  margin-bottom: 50px;
}

.header-features {
  display: flex;
  min-height: 168px;
  width: 1440px;
  padding: 0;
  margin-top: 100px;
  list-style: none;
  color: #fff;
  position: relative;
}

.header-features-item {
  width: 288px;
  padding: 17px 44px;
  border: 1px solid rgba(235, 235, 240, 0.2);
}

.header-features-item:not(:last-child) {
  border-right: none;
}

.header-features-text {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.section {
  margin-top: 150px;
  margin-bottom: 150px;
}
.section-title {
  margin-top: 12px;
  margin-bottom: 42px;
  font-family: "Bebas Neue Book";
  font-size: 60px;
  font-weight: 400;
  line-height: 160%;
}

.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 30px;
}

.steps-item {
  max-width: 330px;
}

.steps-num {
  font-family: "Bebas Neue Book";
  font-size: 48px;
  line-height: 120%;
  color: rgb(92, 142, 230);
  display: flex;
  align-items: center;
}

.steps-num::after {
  content: "";
  height: 1px;
  width: 100%;
  background: rgb(235, 235, 240);
  margin-left: 30px;
}

.steps-title {
  color: rgb(41, 45, 51);
  font-family: Noto Sans;
  font-size: 28px;
  font-weight: 400;
  line-height: 160%;
  margin-top: 30px;
  margin-bottom: 10px;
}
.steps-text {
  color: rgb(130, 138, 153);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.steps-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(92, 142, 230);
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
}

.steps-link::before {
  content: "";
  height: 1px;
  width: 40px;
  background: rgb(92, 142, 230);
  margin-right: 20px;
}
